<h1>Список всех платежей:</h1>
<ul class="container">
  <li class="row header">
    <div class="column">ID платежа</div>
    <div class="column">№ счёта</div>
    <div class="column">Сумма платежа</div>
  </li>
  <li *ngFor="let payment of payments" class="row">
    <div class="column">{{ payment.id }}</div>
    <div class="column">{{ payment.account }}</div>
    <div class="column">{{ payment.sum }} р.</div>
  </li>
</ul>
