.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: -10px;
}

.control-element {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 30%;
}

.header {
    font-weight: bolder;
}