<h1>Информация о счёте. Список платежей:</h1>
<form [formGroup]="form">
  <div class="controls-container">
    <input class="control-element" type="text" formControlName="account" placeholder="№ счёта" />
    <button class="btn btn-primary" (click)="showPayments()">Показать платежи</button>
  </div>
</form>
<ul class="container">
  <li class="row header">
    <div class="column">ID платежа</div>
    <div class="column">Сумма платежа</div>
  </li>
  <li *ngFor="let payment of payments" class="row">
    <div class="column">{{ payment.id }}</div>
    <div class="column">{{ payment.sum }} р.</div>
  </li>
</ul>
