<h1>Добавление платежей</h1>

<form [formGroup]="form">
    <div formArrayName="payments" class="payments-container">
        <div
            *ngFor="let paymentGroup of payments?.controls; let i = index"
            [formGroupName]="i"
            class="payment-row"
        >
            <span class="header">Платеж - {{i + 1}}</span>
            <input type="text" formControlName="account" placeholder="№ счёта" />
            <input type="number" formControlName="sum" placeholder="Сумма платежа" />
        </div>
    </div>
</form>
<div class="buttons-container">
    <button class="btn btn-primary" (click)="addPayment()">Добавить платеж</button>
    <button class="btn btn-primary" (click)="save()">Сохранить платежи</button>
</div>
<div class="total-container" *ngIf="total">
    <span class="total-element-count">Количество платежей: {{total.totalCount}}</span>
    <span>Сумма платежей: {{total.totalSum}}</span>
</div>
