
.payments-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.payment-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.payment-row .header {
    width: 25%;
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
}

.payment-row input {
    width: 30%;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-right: -10px;
    margin-top: 15px;
}

.buttons-container button {
    margin-right: 10px;
}

.total-container {
    margin-top: 15px;
}

.total-element-count {
    margin-right: 10px;
}